.skew1{
    background:linear-gradient(#434343  , #000000);

    position: absolute;
    top: 140vw;
    width: 100%;
    height: 120vw;
    transform: skewY(-3deg);
    margin: auto;
  }
.unskew1{
    transform: skewY(3deg);
}
.title1{
  font-family: 'baloo';
  color: black;
  font-size:6vw;
  text-align: center  ;
  position: 'absolute';
  text-align: center;
}


@media screen and (max-width: 1030px) {
  .skew1{
    top:190vw ; 
    height: 350vw;

  }
}
@media screen and (max-width: 800px) {
  .skew1{
    top:190vw ; 
    height: 320vw;

  }
  .title1{
    font-size: 15vw;
  }
}

@media screen and (max-width: 700px) {
  .skew1{
    top:190vw ; 
    height: 420vw;

  }
  .title1{
    font-size: 15vw;
  }
}
@media screen and (max-width: 420px) {
  .skew1{
    top:190vw ; 
    height: 620vw;

  }
  .title1{
    font-size: 15vw;
  }
}
@media screen and (max-width: 400px) {
  .skew1{
    top:190vw ; 
    height: 620vw;

  }
  .title1{
    font-size: 15vw;
  }
}