html,
body {
  margin: 0;
  padding: 0;
  font-family: 'baloo';
  background-color: rgb(231, 222, 222);
  /* scroll-behavior: smooth; */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* a{
  margin: 15px;
  color: rgb(59, 50, 50);
  text-decoration: none;
  text-transform: u;
  
} */


.navbar{
  /* height: 60px !important; */
  margin: 0 !important;
  padding: 0 !important;
  transition: top 3s !important;
  background:rgba(7, 0, 0, 0.397) !important;
  /* background:transparent !important; */
}
.navbar-toggler{
  transition: top 3s !important;

}
.navbar-collapse{
  /* height: 100px; */
  /* background:transparent !important ; */
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

/* .nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
} */

.nav-item {
    margin: 10px;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}
@media screen and(min-width:990px){
  .nav-item{
    display: flex;
  margin-left: 2rem;
  color: #333;
  }
}